.text-white{
  color:white;
}

.inline{
  display: inline;
  margin: 10px;
}

h1,h2,h3{
  text-align: center;
  color:white;
}

body{
  background-color: black;
}

.model-viewer{
  width: 800px;
  height: 800px;
  background: grey;
}

.viewer-container {
    display: flex;
    align-items: stretch;
}

.materials-panel {
    width: 400px;
    height: 760px;
    flex-shrink: 0;
    padding: 20px;
    background: #1a1a1a;
    border-left: 1px solid #333;
    overflow-y: scroll;
}

ul{
  list-style-type: none;
}

.property-title{
  font-size: 1.1em;
}

.property{
  color: grey;
}

.property-container{
  display: inline-flex;
}

.property-button{
  margin-left: 10px;
  height: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: black;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

.general-section{
    width: fit-content;
    margin: 0 auto;
}